.formG {
	margin:20px 20px;
	border: 2px solid black;
}
.formI {
	margin:12px;
	padding: 3px 20px
}
.form input{
	text-align:center;
}
.checkbox {
	display: inline
}
#submit{
	display:block;
	width: 80%;
	text-align: center;
	margin:8px auto;
}